$piska-color: yellow;

div#mydiv {
    color: $piska-color;
    background: black;
    span {
        font-weight: bold;
        color: red;
    }
}

.first, .second, .third {
	font-size: 75px;
	border: 1px solid red;
	padding: 20px;
}